<header class="no-print">
    <nav>
        <a href="#top">Inicio</a>
        <a href="#sobremi">Sobre-mi</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#educacion">Educación</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#skills">Skills</a>
    </nav>
</header>

<style>
	nav {
        display: flex;
        justify-content: center;
        word-spacing: 2rem;   
    }
   
	nav a {
        color: #333;
        font-size: 1.2rem;
        font-weight: 600;
        display: contents;
    }

    nav a:hover {
        color: #222;
        cursor: pointer;
        background-color: #d3d2d2;
        border-radius: 3px 3px;
    }

    @media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>