---
// Se ejecuta cuando se carga la página en el navegador
import Layout from '@/layouts/Layout.astro';

import Header from '@/components/sections/Header.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Education from '@/components/sections/Education.astro';
import Skills from '@/components/sections/Skills.astro';
import Projects from '@/components/sections/Projects.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title="Mi Portfolio">

	<main>
		<Header />
		<Hero id="top" />
		<About id="sobremi" />
		<Experience id="experiencia" />
		<Education id="educacion" />
		<Projects id="proyectos" />
		<Skills id="skills" />
	</main>

	<KeyboardManager />

</Layout>

<style>
	main {
		padding: 2rem;
		margin: auto;
		width: 100%;
	}
</style>