---
import { basics } from "@cv";
const { name } = basics;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/favicon.png" />
		<meta name="generator" content="{Astro.generator}" />
		<title>Portfolio de {name}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			"Courier New",
			monospace;
		background: rgb(250, 250, 250);
		letter-spacing: -0.025rem;

		scroll-behavior: smooth;
	}

	body, 
	figure {
		margin: 0;
		padding: 0;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	h1, h2, h3, h4, {
		margin: 0;
		font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	p {
		font-size: .9rem;
		line-height: 1.5;
		margin: 0;
		color: #555;
		text-wrap: pretty; // text-wrap: pretty -> is not supported in Safari
	}

	.print{
		display: none !important;
	}

	@media print { 
		.print{
			display: block !important;
		}
		.no-print{
			display: none !important;
		}
	}
</style>
